@model POE_PART_3_ST0084433.Models.SelfStudy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SelfStudy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moduleCode" class="control-label"></label>
                <input asp-for="moduleCode" class="form-control" />
                <span asp-validation-for="moduleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="selfStudyHours" class="control-label"></label>
                <input asp-for="selfStudyHours" class="form-control" />
                <span asp-validation-for="selfStudyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studyHoursRemaining" class="control-label"></label>
                <input asp-for="studyHoursRemaining" class="form-control" />
                <span asp-validation-for="studyHoursRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studyDate" class="control-label"></label>
                <input asp-for="studyDate" class="form-control" />
                <span asp-validation-for="studyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studyDuration" class="control-label"></label>
                <input asp-for="studyDuration" class="form-control" />
                <span asp-validation-for="studyDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
