@{
    <p></p>
    ViewData["Title"] = "Home Page";
    <p></p>
}

<div class="text-center" style="color:#073642">
    <p></p>
    <h2 class="display-4">Welcome</h2>
    <p style="font-size:large">to Time Bank</p>  
</div>

<div class="text-left" style="color:#073642">

    <u style="font-size:x-large">About Us</u>

    <p></p>

    <p>
        Time Bank has been designed with ease of access and productivity in mind,
    </p>
    <p>
        with saving your time being our main goal!
    </p>
</div>
