@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account registration success!";
}

<h1 style="color:#073642">@ViewData["Title"]</h1>



<p></p>
<div class="form-group">
    <p>
        <a id="forgot-password" asp-page="./Login">Login</a>
    </p>
</div>
