@page
@model ResendEmailConfirmationModel
@{
    <p></p>
    ViewData["Title"] = "Resend email confirmation";
    <p></p>
}

<h1 style="color:#073642">@ViewData["Title"]</h1>
<p></p>
<h4 style="color:#073642">Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-floating mb-3">
               @* <label asp-for="Input.Email"></label>*@
                <input asp-for="Input.Email" class="form-control" id="floatingInput" placeholder="Email Address" style="color:#073642" />
                <label for="floatingInput" style="color:#073642">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <p></p>
            <button type="submit" class="btn btn-secondary" style="color:#073642">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
